* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  background-color: #0f1111;
  height: 60px;
}

.amazon-logo {
  font-size: 25px;
  color:  #f08804;
  text-decoration: none;
}

.account, .my-cart, .contact-us {
  margin-left: 200px;
  text-decoration: none;
  color: white;
}

.contact-us {
  margin-right: 100px;
}

.search-button {
  color: white;
  background-color: #f08804;
  padding-left: 3px;
  padding-right: 3px;
}