#div-id, .div-class {
  font-size: 3rem;
}

button {
  background-color: rgb(9, 228, 155);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
